{% extends 'base.html' %}
{% block content %}

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#summary-tab" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
</ul>

<div class="tab-content">

	<div role="tabpanel" class="tab-pane active" id="summary-tab">
		<table class="table">
			<thead>
				<tr>
					<th class="sort" data-sort="organisation">Organisation</th>
					<th class="sort" data-sort="first-published">First Published</th>
					<th class="sort" data-sort="timeliness">Timeliness</th>
					<th class="sort" data-sort="comprehensive">Comprehensive</th>
					<th class="sort" data-sort="forward-looking">Forward Looking</th>
					<th class="sort" data-sort="coverage">Coverage</th>
					<th class="sort" data-sort="humanitarian">Humanitarian</th>
					<th class="sort" data-sort="total">Total</th>
					<th class="sort" data-sort="progress">Progress</th>
					<th class="sort" data-sort="baseline">Baseline</th>
				</tr>
			</thead>
			<tbody class="list">
				{% for k in data %}
				<tr>
					<td class="organisation">
						{% if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) %}
							<a href="https://iatiregistry.org/publisher/about/{{ k }}">
						{% endif %}
						{{ data[k]['name_en'] if data[k]['name_en'] != '' else k }}
						{% if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) %}
							</a>
						{% endif %}
					</td>
					<td class="first-published">{{ data[k]['first_published'] if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) else 'Unknown' }}</td>
					<td class="timeliness pc-{{ data[k]['Timeliness'] }}">{{ data[k]['Timeliness'] if data[k]['Timeliness'] != '' else '0' }}</td>
					<td class="comprehensive pc-{{ data[k]['Forward looking'] }}">{{ data[k]['Forward looking'] if data[k]['Forward looking'] != '' else '0' }}</td>
					<td class="forward-looking pc-{{ data[k]['Comprehensive'] }}">{{ data[k]['Comprehensive'] if data[k]['Comprehensive'] != '' else '0' }}</td>
					<td class="coverage pc-{{ data[k]['humanitarian_coverage_total'] }}">{{ data[k]['humanitarian_coverage_total'] if data[k]['humanitarian_coverage_total'] else '0' }}</td>
					<td class="humanitarian pc-{{ data[k]['humanitarian'] }}">{{ data[k]['humanitarian'] if data[k]['humanitarian'] != '' else '0' }}</td>
					<td class="summary-total">{{ data[k]['summary_total'] if data[k]['summary_total'] != '' else '0' }}</td>
					<td class="{{ 'positive-progress' if data[k]['progress'] > 0 }}">{{ data[k]['progress'] if data[k]['progress'] != '' else '0' }}</td>
					<td class="baseline">{{ data[k]['baseline'] if data[k]['baseline'] != '' else '0' }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script src="static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.table').DataTable({
		"order": [[ 0, "asc" ]],
		"paging": false,
		"fixedHeader": true
	});
});
</script>
{% endblock %}
