{% extends 'base.html' %}
{% block content %}

<ul class="nav nav-tabs" role="tablist">
	<li role="presentation" class="active"><a href="#summary-tab" aria-controls="summary" role="tab" data-toggle="tab">Summary</a></li>
	<li role="presentation"><a href="#methodology-tab" aria-controls="data-use" role="tab" data-toggle="tab">Methodology</a></li>
</ul>

<div class="tab-content">

	<div role="tabpanel" class="tab-pane active" id="summary-tab">

		<h2>Grand Bargain transparency dashboard (beta)</h2>

		<p>This bespoke dashboard was developed by <a href="http://devinit.org/">Development Initiatives</a> (DI) to support the Grand Bargain <a href="https://interagencystandingcommittee.org/greater-transparency">workstream on transparency</a> in taking forward commitments made by signatories at the World Humanitarian Summit 2016. It is part of the project <strong>Monitoring the Grand Bargain commitment on transparency</strong>. The dashboard is based on a framework and methodology for measuring the quality of humanitarian data published to IATI which is proposed in DI’s baseline report, <strong>Implementing and monitoring the Grand Bargain commitment on transparency</strong>, and subject to final approval.</p>

		<p>It is a tool that enables <a href="http://www.agendaforhumanity.org/initiatives/3861">Grand Bargain signatories</a> to:</p>
			<ol>
				<li>Check the quality of their humanitarian data published to the <a href="http://www.aidtransparency.net/">International Aid Transparency Initiative</a> (IATI) Standard and identify areas requiring improvement.</li>
				<li>Assess their progress in meeting the <a href="https://interagencystandingcommittee.org/grand-bargain-hosted-iasc">commitment</a> to publish timely, high-quality, harmonised and transparent data on humanitarian funding.</li>
			</ol>

		<p>The dashboard is currently in beta version and is updated on a daily basis. It uses the data that organisations publish to the <a href="http://iatistandard.org/">IATI Standard</a> on the <a href="https://www.iatiregistry.org/">IATI Registry</a>.</p>

		<p>We welcome your feedback. Please send any comments or questions to Liz Steele at <a href="mailto:liz.steele@devinit.org">liz.steele@devinit.org</a>.</p>

		<table class="table">
			<thead>
				<tr>
					<th class="sort" data-sort="organisation">Organisation</th>
					<th class="sort" data-sort="first-published">First Published</th>
					<th class="sort" data-sort="timeliness">Timeliness</th>
					<th class="sort" data-sort="forward-looking">Forward Looking</th>
					<th class="sort" data-sort="comprehensive">Comprehensive</th>
					<th class="sort" data-sort="coverage">Coverage</th>
					<th class="sort" data-sort="humanitarian">Humanitarian</th>
					<th class="sort" data-sort="total">Total</th>
					<th class="sort" data-sort="progress">Progress</th>
					<th class="sort" data-sort="baseline">Baseline</th>
				</tr>
			</thead>
			<tbody class="list">
				{% for k in data %}
				<tr>
					<td class="organisation" data-order="{{ data[k]['name_en'] if data[k]['name_en'] != '' else k }}">
						{% if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) %}
							<a href="https://iatiregistry.org/publisher/about/{{ k }}">
						{% endif %}
						{{ data[k]['name_en'] if data[k]['name_en'] != '' else k }}
						{% if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) %}
							</a>
						{% endif %}
					</td>
					<td class="first-published">{{ data[k]['first_published'] if (data[k]['first_published'] != '' and data[k]['first_published'] != 0) else 'Unknown' }}</td>
					<td class="timeliness pc-{{ data[k]['Timeliness'] }}">{{ data[k]['Timeliness'] if data[k]['Timeliness'] != '' else '0' }}</td>
					<td class="comprehensive pc-{{ data[k]['Forward looking'] }}">{{ data[k]['Forward looking'] if data[k]['Forward looking'] != '' else '0' }}</td>
					<td class="forward-looking pc-{{ data[k]['Comprehensive'] }}">{{ data[k]['Comprehensive'] if data[k]['Comprehensive'] != '' else '0' }}</td>
					<td class="coverage pc-{{ data[k]['humanitarian_coverage_total'] }}">{{ data[k]['humanitarian_coverage_total'] if data[k]['humanitarian_coverage_total'] else '0' }}</td>
					<td class="humanitarian pc-{{ data[k]['humanitarian'] }}">{{ data[k]['humanitarian'] if data[k]['humanitarian'] != '' else '0' }}</td>
					<td class="summary-total">{{ data[k]['summary_total'] if data[k]['summary_total'] != '' else '0' }}</td>
					<td class="{{ 'positive-progress' if data[k]['progress'] > 0 }}">{{ data[k]['progress'] if data[k]['progress'] != '' else '0' }}</td>
					<td class="baseline">{{ data[k]['baseline'] if data[k]['baseline'] != '' else '0' }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div role="tabpanel" class="tab-panel" id="methodology-tab">
		<p>Methodology to appear here.</p>
	</div>
</div>

<script src="static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$('.table').DataTable({
		"order": [[ 0, "asc" ]],
		"paging": false,
		"fixedHeader": true
	});
});
</script>
{% endblock %}
