body {
	padding: 5%;
}

/* Table sort styling */
.sort:after {
	display: inline-block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	content:"";
	position: relative;
	top: -10px;
	right: -5px;
}
.sort.asc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	content:"";
	position: relative;
	top: 4px;
	right: -5px;
}
.sort.desc:after {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #000;
	content:"";
	position: relative;
	top: -4px;
	right: -5px;
}
