@font-face {
    font-family: 'geomanist';
    src: url(../fonts/geomanist-bold-webfont.eot);
    src: url(../fonts/geomanist-bold-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/geomanist-bold-webfont.woff2) format('woff2'),
         url(../fonts/geomanist-bold-webfont.woff) format('woff'),
         url(../fonts/geomanist-bold-webfont.ttf) format('truetype'),
         url(../fonts/geomanist-bold-webfont.svg#geomanistregular) format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
	padding: 3em 5% 5% 5%;
}

.positive-progress {
	background-color: #0F0;
}

#di-logo {
	width: 20em;
	margin-bottom: 1.8em;
}

h1 {
	font-family: geomanist, Arial, sans-serif;
	font-weight: bold;
}

.notify-banner {
    background-color: #fc5858;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
